/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

/* DIV CREACION */
.elemento-principal {

    background-color: rgb(199, 213, 255);

    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;

    height: 500px;

    display: flex;
    flex-direction: column;

    border-radius: 10px;

}

.titulo-creacion {

    background-color: rgb(44, 49, 90);
    color: white;

    padding: 10px;
    padding-left: 30px;

    margin: 0;
    border-radius: 10px;

}

.elementos {

    display: flex;
    height: 100%;

}


.div-izquierdo {

    height: 100%;
    width: 45%;

}

.tituloCheques {

    background-color: rgb(44, 49, 90);
    color: white;

    margin-top: 2%;
    margin-left: 4%;

    padding: 2%;
    padding-left: 2%;

    width: 85%;
    border-radius: 10px;

}

.datos{

    padding-top: 4%;

}



.datos {

    display: flex;
    flex-direction: row;

    width: 89%;
    margin-left: 4%;

}

.datos input {

    padding: 2%;
    width: 90%;

}

.datos-1 {

    display: flex;
    flex-direction: column;

    height: 50%;
    margin-right: 2%;
    padding-left: 35%;

}


.datos-2 {

    display: flex;
    flex-direction: column;

    height: 50%;
    width: 25%;

}


.datos-restantes {

    display: flex;
    flex-direction: column;

    height: 60%;
    width: 87%;

    margin-left: 6%;

}

.titulo-paguese {

    margin-top: 6%;

}

.datos-restantes input, select {

    height: 10%;

}

.input-suma1 {

    margin-right: 2%;

    width: 20%;
    padding: 2%;

}

.input-suma2 {

    width: 65%;
    padding: 2%;

}

/* CONTENIDO DE LA DERECHA */

.div-derecho {

    height: 100%;
    width: 55%;

}

.titulo-objeto-gastos{

    background-color: rgb(44, 49, 90);
    color: white;

    padding: 1.6%;
    padding-left: 30px;
    width: 86%;

    margin-top: 1.8%;
    border-radius: 10px;


}

.datos-derecha {

    padding-top: 1.5%;

}

.datos-derecha select{

    height: 42%;

}

.datos-derecha input{

    padding: 3%;

}

.datos-derecha {

    display: flex;

    width: 89%;
    height: 51%;
    margin-left: 4%;

}

.datos-derecha1 {

    display: flex;
    flex-direction: column;

    height: 30%;
    width: 60%;


    margin-right: 6%;
    margin-left: 2%;

}


.datos-derecha2 {

    display: flex;
    flex-direction: column;

    height: 30%;
    width: 30%;

}

.botones {
    
    padding: 10px;
    color: white;

    background-color: rgb(44, 49, 90);
    border: 1px solid rgb(44, 49, 90);

    border-radius: 10px;
    font-size: medium;

}


.div-izquierdo button{

    margin-left: 80%;
    margin-top: 5%;

}

.div-derecho button{

    margin-left: 4%;
    margin-top: 3.5%;

}

.botones:active {

    background-color: #2980b9;

}


#contenido input, select {

    border-radius: 10px;
    border: 1px solid rgb(44, 49, 90);

}